[user]
	name = andrewdhazlett
	email = andrew@hazlett.me
[credential]
	helper = store
[credential "https://github.com"]
	username = andrewdhazlett
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
  a = add
	ac = commit --amend
  br = branch
  ci = commit
	cm = commit -m
  co = checkout
	di = diff
  dump = cat-file -p
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	po = push origin
	ph = push -u origin HEAD
  st = status
  type = cat-file -t
[github]
	user = andrewdhazlett
[core]
	editor = /usr/local/bin/vim
	autocrlf = input
[pull]
	ff = only
[init]
	defaultBranch = main
