alias c="clear; ";
alias cla="c la";
alias cal="cla";
alias cd..="cd ..";
alias gi="git";

# os-specific aliases
if [[ "$OSTYPE" == "linux-gnu" ]]; then
	source ./.linux_aliases
elif [[ "$OSTYPE" == "darwin"* ]]; then
	source ~/.osx_aliases
elif [[ "$OSTYPE" == "cygwin" ]]; then
elif [[ "$OSTYPE" == "msys" ]]; then
elif [[ "$OSTYPE" == "win32" ]]; then
elif [[ "$OSTYPE" == "freebsd"* ]]; then
else
fi
