#! /bin/zsh

alias c="clear; ";
alias cla="c la";
alias cal="cla";
alias cd..="cd ..";
alias gi="git";
alias rst-up="curl -s https://static.rust-lang.org/rustup.sh | sudo sh";

# os-specific aliases
if [[ "$OSTYPE" == "linux-gnu" ]]; then
	source ~/.linux_aliases
elif [[ "$OSTYPE" == "darwin"* ]]; then
	source ~/.osx_aliases
fi
