#! /bin/zsh

alias c="clear; ";
alias cla="c la";
alias cal="cla";
alias cd..="cd ..";
alias gi="git";

# os-specific aliases
if [[ "$OSTYPE" == "linux-gnu" ]]; then
	source ~/.linux_aliases
elif [[ "$OSTYPE" == "darwin"* ]]; then
	source ~/.osx_aliases
fi
